body {
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  min-height: 200px;
  min-width: 200px;
  width: 100%;
  background: radial-gradient(ellipse at top, #498ad6, transparent),
    radial-gradient(ellipse at bottom, #959031, transparent);
}

button {
  border: none;
  box-shadow: 7px 7px 7px #999;
  display: flex;
  font-weight: bold;
  height: 30px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  width: 120px;
}

#closeSmallWindow {
  justify-content: center;
  height: 20px;
  width: 20px;
}

#maximizeSmallWindow {
  display:flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  width: 20px;
}

#alignTopRight {
  height: 20px;
  width: 20px;
  display: flex;
  position: absolute;
  top: -6px;
  right: 10px;
}

#alignTopLeft {
  height: 20px;
  width: 20px;
  display: flex;
  position: absolute;
  top: 0px;
  left: 10px;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

a{
	display: block;
	position: relative;
	padding: 1em 1em 1em 1em;
}