body {
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  min-height: 500px;
  min-width: 600px;
  width: 100%;
  background: radial-gradient(ellipse at top, #498ad6, transparent),
    radial-gradient(ellipse at bottom, #959031, transparent);
}

button {
  border-radius: 10px;
  display:block;
  border: none;
  box-shadow: 4px 4px 4px #999;
  display: flex;
  font-weight: bold;
  height: 30px;
  outline: none;
  align-items: center;
  width: 120px;
}

#buttonDiv {
  background-color: #a3c1c1;
  overflow: scroll;
  height: 250px;
  width: 350px;
  border: none;
  box-shadow: 7px 7px 7px #999;
  border-radius: 0px;
}

.main-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  height: 400px;
  border-radius: 20px;
  background-color: #d1dbf0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#urlAdd {
  display: flex;
  justify-content: center;
  background-color: #a3c1c1;
  color: white;
}

#addURL{
  box-shadow: none;
  display: flex;
  justify-content: center;
  background-color: #a3c1c1;
  color: white;
}

#stupidFuckingMethodOfCreatingBlankSpace{
	padding-top: 5px;
}


#sub-container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
#closeBigWindow {
  justify-content: center;
  height: 20px;
  width: 20px;
}

#minimizeBigWindow {
  justify-content: center;
  height: 20px;
  width: 20px;
}

#backButton {
  border-radius: 10px;
  justify-content: center;
  height: 20px;
  width: 30px;
}

#bottomButtons {
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
  background-color: #a3c1c1;
  border: 1px solid black;
  border-color: #99bbbb;
  color: white;
  float: left;
}

#bottomButtons:hover{
	background-color: #6BCBC0;
}

#alignBottomButtons {
  display: flex;
  position: absolute;
  bottom: 8px;
  right: 8px;
}

#alignTopRight {
  height: 20px;
  width: 20px;
  display: flex;
  position: absolute;
  top: -6px;
  right: 10px;
}

#alignTopLeft {
  height: 20px;
  width: 20px;
  display: flex;
  position: absolute;
  top: -25px;
  left: 0px;
}

button.current{
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}

a{
	display: block;
	position: relative;
	padding: 1em 2em 1em 2em;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__label {
  position: absolute;
  margin-top:30px;
  width: 200px;
  height: 50px;
  display: flex;
  font-size: 30px;
  font-weight: bold;
}

