body {
  display: flex;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  min-height: 400px;
  min-width: 500px;
  width: 100%;
  background: radial-gradient(ellipse at top, #498ad6, transparent),
    radial-gradient(ellipse at bottom, #959031, transparent);
}

button {
  border: none;
  border-radius: 10px;
  box-shadow: 7px 7px 7px #999;
  display: flex;
  font-weight: bold;
  height: 30px;
  margin: 10px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  width: 120px;
}

#closeBigWindow {
  height: 20px;
  width: 20px;
}

#minimizeBigWindow {
  height: 20px;
  width: 20px;
}

#backButton {
  height: 20px;
  width: 30px;
}

#forest {
}

#blacklist {
}

#githubLink {
}

#donationLink {
}

#alignBottomButtons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
}

#alignTopRight {
  height: 20px;
  width: 20px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  position: absolute;
  top: 0;
}

#alignTopLeft {
  height: 20px;
  width: 20px;
  display: -webkit-flex;
  display: flex;
  webkit-justify-content: space-around;
  justify-content: space-around;
  position: absolute;
  top: 0;
  left: 0;
}

button.current {
  box-shadow: 0 0 0 2px white, 0 0 0 4px black;
}
